@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --green:green;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:.7rem;
}

html::-webkit-scrollbar-track{
    background:#fff;
}

html::-webkit-scrollbar-thumb{
    background:var(--green);
}

body{
    background:#eee;
    padding-right: 5rem;
}

section{
    padding:2rem 9%;
    min-height: 100vh;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    font-size: 6rem;
    text-transform: uppercase;
    color:#222;
}

.heading span{
    text-transform: uppercase;
    color:var(--green);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    background:#222;
    color:#fff;
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover{
    background:var(--green);
    letter-spacing: .2rem;
}

header{
    position: fixed;
    top:0; right:0;
    min-height: 100vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background:#fff;
    z-index: 1000;
}

header .navbar{
    writing-mode: vertical-lr;
    padding:1.5rem;
}

header .navbar a{
    padding:1.5rem;
    font-size: 2rem;
    color:#222;
}

header .navbar a:hover{
    color:var(--green);
}

#menu-bars{
    position: fixed;
    z-index: 10000;
    top:1rem; left:1rem;
    padding:1rem 1.5rem;
    border-radius: .5rem;
    color:#fff;
    background: var(--green);
    cursor: pointer;
    font-size: 3rem;
    display: none;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home #particles-js{
    position: absolute;
    top:0; left:0;
    height:100%;
    width:100%;
}

.home::before{
    content: '';
    position: absolute;
    top:0; left:0;
    height:100%;
    width:100%;
}

.home .content{
    text-align: center;
    position: relative;
    z-index: 1;
}

.home .content img{
    height: 25rem;
    width:25rem;
    border-radius: 50%;
    object-fit: cover;
    border:1rem solid var(--green);
}

.home .content h3{
    font-size: 4rem;
    color:#222;
    text-transform: uppercase;
}

.home .content h3 span{
    color:var(--green);
    text-transform: uppercase;
}

.home .content p{
    color:#222;
    font-size: 2.5rem;
    line-height: 2;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}

.about .row .image{
    text-align: center;
    flex:1 1 25rem;
}

.about .row .image img{
    width:30rem;
    border-radius: -5rem;
    border:1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.about .row .content{
    flex:1 1 55rem;
}

.about .row .content h3{
    color:#222;
    font-size: 4rem;
}

.about .row .content h3 span{
    color:var(--green);
}

.about .row .content .info{
    color:#333;
    font-size: 1.7rem;
    padding:1rem 0;
    line-height: 2;
}

.about .row .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding:1rem 0;
}

.about .row .content .box-container .box{
    flex:1 1 20rem;
}

.about .row .content .box-container .box p{
    font-size: 1.7rem;
    color:#222;
    padding:.5rem 0;
    line-height: 2;
}

.about .row .content .box-container .box p span{
    color:var(--green);
}

.skill_content
{
    width: 100%;
    height: auto;
    padding: 80px 13%;
    background:  wheat;
}

.title
{
    width: 100%;
    margin-bottom: 70px;
    display: grid;
    place-items: center;
    text-align: center;

}

.title h2
{
    margin-bottom: -5px;
    color: black;
}

.title p{
    color: black;
    margin-top: 10px;
}

.title h2 span
{
    color: orange;
}
.skills h2{
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    color: black;
    font-weight:bold;
    font-size: 16px;

}


.progress-bar{
    background: #959595;
    width: 600px;
    height: 10px;
    border-radius: 5px;
}
.progress-bar div{
    height: 10px;
    border-radius: 5px;
}
.progress-bar div span{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #222;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.html{
    width: 85%;
    background: #e91e63;
    animation: html 1s;
}
.css{
    width: 80%;
    background: #cddc39;
    animation: css 1s;
}
.js{
    width: 70%;
    background: #00bcd4;
    animation: js 1s;
}
.c{
    width: 65%;
    background: #ffeb3b;
    animation: c 1s;
}
.java{
    width: 50%;
    background: #9c27b0;
    animation: java 1s;
}
.php{
    width: 70%;
    background: darkred;
    animation: php 1s;
}
.mysql{
    width: 75%;
    background: darkgreen;
    animation: mysql 1s;
}
.docker{
    width: 20%;
    background: lightgreen;
    animation: docker 1s;
}
.html span{
    border: 1px solid #e91e63;
}
.css span{
    border: 1px solid #cddc39;
}
.js span{
    border: 1px solid #00bcd4;
}
.c span{
    border: 1px solid #ffeb3b;
}
.java span{
    border: 1px solid #9c27b0;
}
.php span{
    border: 1px solid orange;
}
.mysql span{
    border: 1px solid darkgreen;
}
.docker span{
    border: 1px solid lightgreen;
}
@keyframes html{
    0%{
        width: 0%;
    }100%{
        width: 85%;
}
}
@keyframes css{
    0%{
        width: 0%;
    }100%{
        width: 80%;
}
}
@keyframes js{
    0%{
        width: 0%;
    }100%{
        width: 70%;
}
}
@keyframes c{
    0%{
        width: 0%;
    }100%{
        width: 65%;
}
}
@keyframes java{
    0%{
        width: 0%;
    }100%{
        width: 50%;
}
}
@keyframes php{
    0%{
        width: 0%;
    }100%{
        width: 70%;
}
}
@keyframes mysql{
    0%{
        width: 0%;
    }100%{
        width: 75%;
}
}
@keyframes docker{
    0%{
        width: 0%;
    }100%{
        width: 20%;
}
}
  /* styles for screens with width less than 768px */
@media (max-width: 767px) {
    .skill_content {
        padding: 40px 5%;
    }
    .title h2 {
        font-size: 24px;
    }
    .skills h2 {
        font-size: 14px;
    }
    .progress-bar {
        width: 100%;
    }
    .progress-bar div span {
        margin-top: -10px;
        margin-right: -10px;
        font-size: 12px;
    }
    .html{
        width: 85%;
    }
    .css{
        width: 80%;
    }
    .js{
        width: 70%;
    }
    .c{
        width: 65%;
    }
    .java{
        width: 50%;
    }
    .php{
        width: 70%;
    }
    .mysql {
        width: 75%;
    }
}

/* styles for screens with width between 768px and 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
    .skill_content {
        padding: 60px 8%;
    }
    .title h2 {
        font-size: 28px;
    }
    .skills h2 {
        font-size: 16px;
    }
    .progress-bar {
        width: 80%;
    }
}

/* styles for screens with width greater than 1023px */
@media (min-width: 1024px) {
    .skill_content {
        padding: 80px 13%;
    }
    .title h2 {
        font-size: 32px;
    }
    .skills h2 {
        font-size: 18px;
    }
}


.services{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}



.portfolio .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.portfolio .box-container .box{
    flex:1 1 30rem;
    border-radius: .5rem;
    border:1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    position: relative;
    overflow:hidden;
    height:25rem;
}

.portfolio .box-container .box img{
    height: 100%;
    width:100%;
    object-fit: cover;
}

.portfolio .box-container .box .content{
    height: 100%;
    width:100%;
    position: absolute;
    top:0; left:-100%;
    background:#fff9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio .box-container .box:hover .content{
    left:0;
}
  


.resume .row{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.resume .col-lg-6{
    width: 48%;
}

.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #45505b;
  }
  
  .resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid green;
    position: relative;
  }
  
  .resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #0563bb;
    margin-bottom: 10px;
  }
  
  .resume .resume-item h5 {
    font-size: 16px;
    background: #f7f8f9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .resume .resume-item ul {
    padding-left: 20px;
  }
  
  .resume .resume-item ul li {
    padding-bottom: 10px;
  }
  
  .resume .resume-item:last-child {
    padding-bottom: 0;
  }
  
  .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid green;
  }
  @media (max-width: 768px) {
    .resume .row {
    flex-direction: column;
    }
    
    .resume .col-lg-6 {
    width: 100%;
    margin-bottom: 20px;
    }
    
    .resume .resume-item {
    padding: 0 0 20px 0;
    border-left: none;
    position: relative;
    margin-left: 20px;
    }
    
    .resume .resume-item::before {
    left: -9px;
    top: 10px;
    }
    }
  


.blogs .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.blogs .box-container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:2rem;
}

.blogs .box-container .box img{
    height:20rem;
    width:100%;
    border-radius: .5rem;
    object-fit: cover;
}

.blogs .box-container .box h3{
    color:var(--green);
    font-size: 2.5rem;
    padding:.5rem 0;
}

.blogs .box-container .box p{
    color:#666;
    font-size: 1.5rem;
    padding:.5rem 0;
}

section {
    background-color: #f5f5f5;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 1em;
    text-align: center;
  }
  .column {
    width: 100%;
    padding: 0.5em 0;
  }
  h1 {
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    color: #1f003b;
  }
  .card {
    box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
    padding: 3.5em 1em;
    border-radius: 0.6em;
    color: #1f003b;
    cursor: pointer;
    transition: 0.3s;
    background-color: #ffffff;
  }
  .card .img-container {
    width: 7.5em;
    height: 8em;
    background-color: #a993ff;
    padding: 0.5em;
    border-radius: 50%;
    margin: 0 auto 2em auto;
  }
  .card img {
    width: 100%;
    border-radius: 50%;
  }
  .card h3 {
    font-weight: 500;
  }
  .card p {
    font-weight: 300;
    margin: 0.5em 0 2em 0;
   
  }
  .icons {
    width: 50%;
    min-width: 180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .card a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
  }
  .card:hover {
    background: linear-gradient(green, green);
    color: #ffffff;
  }
  .card:hover .img-container {
    transform: scale(1.15);
  }
  @media screen and (min-width: 768px) {
    section {
      padding: 1em 7em;
    }
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em;
    }
    .card {
      padding: 5em 1em;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
      padding: 0 1em;
    }
  }
  
  
  

.contact .row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.contact .row .image{
    flex:1 1 40rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form{
    flex:1 1 40rem;
    padding:1rem 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    background:white;
}

.contact .row form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact .row form .inputBox input,
.contact .row form .box,
.contact .row form textarea{
    width:100%;
    border-radius: .5rem;
    font-size: 1.7rem;
    color:#333;
    padding:1rem;
    margin:1rem 0;
    border:.1rem solid rgba(0,0,0,.1);
    text-transform: none;
}

.contact .row form .inputBox input:focus,
.contact .row form .box:focus,
.contact .row form textarea:focus{
    border-color: var(--green);
}

.contact .row form .inputBox input{
    width:49%;
}

.contact .row form textarea{
    height:20rem;
    resize: none;
}

.contact .row form .btn{
    margin:.5rem 0;
}

.footer{
    position: relative;
    width: 100%;
    height: 300px;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
.footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: green;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.end{
    position: absolute;
    color:rgb(212, 16, 49);
    bottom: 35px;
}













/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    body{
        padding-right: 0;
    }
    
    section{
        padding:2rem;
    }

    header{
        width:100%;
        left:-120%;
    }

    header.active{
        left:0%;
    }

    #menu-bars{
        display: initial;
    }

    header .navbar{
        writing-mode: horizontal-tb;
    }

    header .navbar a{
        display: block;
        font-size: 3rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 4rem;
    }

    .contact .row form .inputBox input{
        width:100%;
    }

}